<nav class="navbar">
    <div class="navbar__phoneView">
        <a href="#" class="navbar__brand"><img src="../../../../assets/img/banner-ico.png" alt=""></a>
        <a #button (click)="toggleMenu(menu,button)" href="#" class="link toggle">=</a>
    </div>
    <ul #menu class="navbar__list">
        <li class="navbar__list__item">
            <a routerLink="home" class="link" routerLinkActive="active">Home</a>
        </li>
        <li class="navbar__list__item">
            <a routerLink="search" class="link" routerLinkActive="active">Search</a>
        </li>

    </ul>
</nav>