<nav class="navbar">
    <div class="navbar__phoneView">
        <a href="#" class="navbar__brand"><img src="../../../../assets/img/banner-ico.png" alt=""></a>
        <a (click)="toggleMenu(menu)" href="#" class="link toggle">=</a>
    </div>
    <ul #menu class="navbar__list">
        <li class="navbar__list__item" routerLinkActive="active">
            <a routerLink="home" class="link">Home</a>
        </li>
        <li class="navbar__list__item" routerLinkActive="active">
            <a routerLink="search" class="link">Search</a>
        </li>

    </ul>
</nav>