@import '../../../../styles.scss';
// General Styles
.navbar {
    background-color: $grey;
    margin: 0px;
    padding: 5px 20px;
}

.navbar__brand {
    img {
        width: 40px;
        height: 40px;
    }
}

.navbar__list {
    list-style-type: none;
    font-size: 16px;
    white-space: nowrap;
}

.navbar__list__item {
    text-decoration: none;
}

.link {
    font-size: 18px;
    color: $white;
    text-decoration: none;
}

.link-active {
    color: $green;
}


/* Mobile menu */

.navbar__phoneView {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.toggle {
    font-size: 24px;
    &:hover {
        text-decoration: none;
    }
}

.navbar__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    display: none;
}

.navbar__list__item {
    text-align: center;
    margin: 15px;
}

.toggleOn {
    display: block;
}

.active {
    pointer-events: none;
    color: $green;
}


/* Desktop menu */

@media all and (min-width: 900px) {
    .navbar {
        display: flex;
    }
    .toggle {
        display: none;
    }
    .navbar__list {
        margin-left: 30px;
        display: flex;
    }
    .navbar__list__item {
        padding-left: 25px;
        margin: 0px
    }
}