@import '../../../../styles.scss';
.foot {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    background-color: $grey;
    padding-bottom: 15px;
    height: 80px;
    width: 100%;
}

.foot__copy {
    color: $white;
    font-size: 14px;
}