@import '../../../../styles.scss';
.footer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100%;
    position: absolute;
    bottom: 0;
    height: 80px;
    background-color: $grey;
    padding-bottom: 10px;
}

.footer__copy {
    color: $white;
    font-size: 14px;
}